table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 5px;
    width: 100px;
    text-align: left;
}

u {
    color: blue;
}

label {
  float:left;
  width:10%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-style: normal;
  font-size: 17px;
}

input[type=text] {
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=password] {
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=password]:focus {
    border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 4px;
}